<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="..\CSS\Style-Sheet.css">
  <link rel="stylesheet" href="..\CSS\normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <title>CaseOurPhone</title>
</head>

<body>
  <div class="domain-block">
    <header class="domain-block-header">
      <h2 class="domain-block-header-text">Starting at $9 per month</h2>
      <p class="domain-block-header-subtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, iure.</p>
    </header>
    <div class="input-group domain-block-search">
      <form class="search-bar" action="">
        <input class="search-input" type="text" placeholder="Search for ..." required min-length="2" maxlength="20">
        <div class="icon-text-search">
          <img class="search-image" src="..\Images\search.svg" alt="">
          <button class="search-button" type="button" name="button">search</button>
        </div>
      </form>
    </div>
    <div class="domain-list-container">
      <ul class="domain-list1">
        <li class=domain-sublist>.com $9</li>
      </ul>
      <ul class="domain-list2">
        <li class="domain-sublist">.sg $10</li>
      </ul>
      <ul class="domain-list3">
        <li class="domain-sublist">.space $11</li>
      </ul>
      <ul class="domain-list4">
        <li class="domain-sublist">.info $14</li>
      </ul>
      <ul class="domain-list5">
        <li class="domain-sublist">.net $10</li>
      </ul>
      <ul class="domain-list6">
        <li class="domain-sublist">.space $11</li>
      </ul>
    </div>
  </div>
</body>

</html>