<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="..\CSS\Style-Sheet.css">
  <link rel="stylesheet" href="..\CSS\normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <title>CaseOurPhone</title>
</head>

<body>
  <div class="feature-block-heading">
    <h2 class="feature-block-heading-text text-align-mobile">Host On The Cloud To Keep Growing</h2>
    <p class="feature-block-heading-subtext text-align-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Reprehenderit, blanditiis.</p>
    <div class="feature-block">
      <div class="feature-block-text-element text-align-mobile">
        <div class="feature-block-icon text-align-mobile">
          <img class="icon icon-primary" src="..\Images\feed.svg" alt="">
        </div>
        <h3 class="feature-block-subheading">Super Easy to Use</h3>
        <p class="feature-block-subheading-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aut
          neque dolore placeat reprehenderit, fugiat.</p>
        <a class="learn-more" href="#">Learn More</a>
      </div>
      <div class="feature-block-charts">
        <h4 class="feature-block-charts-heading text-align-mobile">Easy to use</h4>
        <div class="feature-block-subcharts">
          <img src="..\Images\chart-1.svg" alt="" class="chart1">
          <img src="..\Images\chart-2.svg" alt="" class="chart2">
          <img src="..\Images\chart-3.svg" alt="" class="chart3">
          <img src="..\Images\chart-4.svg" alt="" class="chart4">
        </div>
      </div>
    </div>
  </div>
</body>

</html>