<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="..\CSS\Style-Sheet.css">
  <link rel="stylesheet" href="..\CSS\normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <title>CaseOurPhone</title>
</head>

<body>
  <footer class="website-footer">
    <div class="logo-footer footer-flex">
      <img class="sublogo-footer" src="..\Images\phone.svg" alt="">
    </div>
    <div class="footer1 footer-flex">
      <ul class="footer-list">
        <li class="footer-sublist">Host</li>
        <li><a class="footer-sublist-anchor" href="#">VPN</a></li>
        <li><a class="footer-sublist-anchor" href="#">VPS</a></li>
        <li><a class="footer-sublist-anchor" href="#">Network</a></li>
        <li><a class="footer-sublist-anchor" href="#">Services</a></li>
      </ul>
    </div>
    <div class="footer2 footer-flex">
      <ul class="footer-list">
        <li class="footer-sublist">Host</li>
        <li><a class="footer-sublist-anchor" href="#">VPN</a></li>
        <li><a class="footer-sublist-anchor" href="#">VPS</a></li>
        <li><a class="footer-sublist-anchor" href="#">Network</a></li>
        <li><a class="footer-sublist-anchor" href="#">Services</a></li>
      </ul>
    </div>
    <div class="footer3 footer-flex">
      <ul class="footer-list">
        <li class="footer-sublist">Host</li>
        <li><a class="footer-sublist-anchor" href="#">VPN</a></li>
        <li><a class="footer-sublist-anchor" href="#">VPS</a></li>
        <li><a class="footer-sublist-anchor" href="#">Network</a></li>
        <li><a class="footer-sublist-anchor" href="#">Services</a></li>
      </ul>
    </div>
    <div class="footer4 footer-flex">
      <ul class="footer-list">
        <li class="footer-sublist">Host</li>
        <li><a class="footer-sublist-anchor" href="#">VPN</a></li>
        <li><a class="footer-sublist-anchor" href="#">VPS</a></li>
        <li><a class="footer-sublist-anchor" href="#">Network</a></li>
        <li><a class="footer-sublist-anchor" href="#">Services</a></li>
      </ul>
    </div>
  </footer>
  <p class="sublogo-text-footer">Powered by Lome Jeener 2022</p>
</body>

</html>