<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="..\CSS\Style-Sheet.css">
  <link rel="stylesheet" href="..\CSS\normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <title>CaseOurPhone</title>
</head>

<body>
  <div class="hero">
    <img src="..\Images\dollar.svg" alt="" class="hero-image">
    <div class="hero-title">
      <h2 class="hero-heading">Start Easy <br> On Cloud</h2>
      <p class="hero-text">Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit. Nam, cum!</p>
      <a href="#" class="btn btn-primary hero-button">click here</a>
    </div>
  </div>
</body>

</html>