<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="..\CSS\Style-Sheet.css">
  <link rel="stylesheet" href="..\CSS\normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <title>CaseOurPhone</title>
</head>

<body>
  <div class="collapsible collapsible-expand">
    <nav class="navigation-bar">
      <a href="/"><img class="navigation-logo" src="..\Images\phone.svg" alt=""></a>
      <img class="menu-image" src="..\Images\menu-2.svg" alt="">
      <ul class="menu-list-container">
        <a class="menu-list-anchor" href="#">
          <li class="menu-list">Host</li>
        </a>
        <a class="menu-list-anchor" href="#">
          <li class="menu-list">VPS</li>
        </a>
        <a class="menu-list-anchor" href="#">
          <li class="menu-list">VPN</li>
        </a>
        <a class="menu-list-anchor" href="#">
          <li class="menu-list">Network</li>
        </a>
      </ul>

    </nav>
  </div>
  <script src="..\JavaScript\collapsible.js"></script>
</body>

</html>