<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="..\CSS\Style-Sheet.css">
  <link rel="stylesheet" href="..\CSS\normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <title>CaseOurPhone</title>
</head>

<body>
  <div class="plan-card ">
    <header class="plan-card-header plan-card-header-primary">
      <div class="plan-card-image">
        <h1 class="plan-card-header-text">Business</h1>
        <img src="..\Images\hot.svg" alt="">
      </div>
      <div class="plan-card-price-text">
        <p class="plan-card-price-tag">
          <span class="plan-card-price">$24</span>
          <span class="plan-card-time">/month</span>
        </p>
        <div class="badge badge-primary badge-plan-card">10% Off</div>
      </div>
      <p class="price-note">easy start on the cloud</p>
    </header>
    <div class="plan-card-body">
      <ul>
        <li class="list list-block">food 1</li>
        <li class="list list-block">food 2</li>
        <li class="list list-block">food 3</li>
      </ul>
      <div class="button-price">
        <button class="btn btn-primary plan-button">click here</button>
      </div>
    </div>
  </div>
</body>

</html>