<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="..\CSS\Style-Sheet.css">
  <link rel="stylesheet" href="..\CSS\normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <title>CaseOurPhone</title>
</head>

<body>
  <blockquote class="quote-text" cite="http://">
    <p class="quote-subtext">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse iure saepe, nihil
      necessitatibus officiis est reprehenderit, cupiditate consectetur, veritatis perspiciatis repellendus maxime aut,
      ipsum dolorem sunt quasi odio. Autem expedita excepturi odit quam deleniti tenetur!</p>
    <div class="media-object">
      <img class="media-object-picture" src="..\Images\line.svg" alt="">
      <div class="media-object-text">
        <h3 class="media-object-heading">
          Lome Jeener
        </h3>
        <p class="media-object-subtext media-object-subtext-author">The Sigel G</p>
      </div>
    </div>
  </blockquote>
</body>

</html>