<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="..\CSS\Style-Sheet.css">
  <link rel="stylesheet" href="..\CSS\normalize.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <title>CaseOurPhone</title>
</head>

<body>
  <form class="search-bar" action="">
    <input class="search-input" type="text" placeholder="Search for ..." required min-length="2" maxlength="20">
    <div class="icon-text-search">
      <img class="search-image" src="..\Images\search.svg" alt="">
      <button class="search-button" type="button" name="button">search</button>
    </div>
  </form>
</body>

</html>